# Object files
*.d
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

libs/dvbobjects/build/
libs/dvbobjects/usr/
tools/dsmcc-receive/dsmcc-receive
tools/eitsecactualtoanother/eitsecactualtoanother
tools/eitsecfilter/eitsecfilter
tools/eitsecmapper/eitsecmapper
tools/esaudio2pes/esaudio2pes
tools/esaudioinfo/esaudioinfo
tools/esvideompeg2info/esvideompeg2info
tools/esvideompeg2pes/esvideompeg2pes
tools/i13942ts/i13942ts
tools/m2ts2cbrts/m2ts2cbrts
tools/mpe2sec/mpe2sec
tools/mpeg2videovbv/vbv
tools/pes2es/pes2es
tools/pes2txt/pes2txt
tools/pesaudio2ts/pesaudio2ts
tools/pesdata2ts/pesdata2ts
tools/pesinfo/pesinfo
tools/pesvideo2ts/pesvideo2ts
tools/sec2ts/sec2ts
tools/ts2m2ts/ts2m2ts
tools/ts2pes/ts2pes
tools/ts2sec/ts2sec
tools/tscbrmuxer/tscbrmuxer
tools/tsccc/tsccc
tools/tsdiscont/tsdiscont
tools/tsdoubleoutput/tsdoubleoutput
tools/tsfilter/tsfilter
tools/tsfixcc/tsfixcc
tools/tsinputswitch/tsinputswitch
tools/tsloop/tsloop
tools/tsmask/tsmask
tools/tsmodder/tsmodder
tools/tsnullfiller/tsnullfiller
tools/tsnullshaper/tsnullshaper
tools/tsororts/tsororts
tools/tsorts/tsorts
tools/tsoutputswitch/tsoutputswitch
tools/tspcrmeasure/tspcrmeasure
tools/tspcrrestamp/tspcrrestamp
tools/tspcrstamp/tspcrstamp
tools/tspidmapper/tspidmapper
tools/tsstamp/tsstamp
tools/tstcpreceive/tstcpreceive
tools/tstcpsend/tstcpsend
tools/tstdt/tstdt
tools/tstimedwrite/tstimedwrite
tools/tstimeout/tstimeout
tools/tsudpreceive/tsudpreceive
tools/tsudpsend/tsudpsend
tools/tsvbr2cbr/tsvbr2cbr
tools/txt2pes/txt2pes
tools/zpipe/zpipe
